/* access_press */
// http://demo.accesspressthemes.com/wordpress-plugins/accesspress-social-counter/
.apsc-facebook-icon .social-icon i {
  background-color: #3b5998;
}

.apsc-twitter-icon .social-icon i  {
  background-color: #1dcaff;
}

.apsc-youtube-icon .social-icon i  {
  background-color: #e52d27;
}

.apsc-soundcloud-icon .social-icon i  {
  background-color: #ff8800;
}

.apsc-dribble-icon .social-icon i  {
  background-color: #ea4c89;
}

.apsc-comment-icon .social-icon i  {
  background-color: #464646;
}

.apsc-edit-icon  .social-icon i  {
  background-color: #837d7d;
}

.apsc-google-plus-icon .social-icon i  {
  background-color: #dd4b39;
}

.apsc-instagram-icon .social-icon i  {
  background-color: #3f729b;
}

.apsc-each-profile a .social-icon i  {
  color: white !important;
}

.apsc-each-profile a:hover {
  color: $colorMain !important;
  text-decoration: none !important;
}

.apsc-theme-4 {
  .apsc-each-profile {
    margin-bottom: 10px;
  }

  .apsc-inner-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .social-icon {
    display: inline-block;
    margin-right: auto;
    padding: 4px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
  }

  .apsc-each-profile a {
    display: block;
    position: relative;
    padding:20px 18px 16px 90px;
    font-size: 16px;
    text-transform: capitalize;
    color:$darkColor;
    background-color: transparent;
    box-shadow: 0 1px 14px 1px rgba(0, 0, 0, 0.05);
    line-height: 1;
    border-radius: 5px;
  }

  //icon
  .apsc-each-profile a .fa {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-right: 1px solid rgba($lightColor, 0.4);
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    transform: none;
    transition: all 0.5s ease-in-out;
    border-radius: 5px 0 0 5px;
  }


  .apsc-count {
    border-radius: 0;
    color:$fontColor;
    font-weight: 400;
    display: inline-block;
    font-size: inherit;
    text-align: center;
    position: relative;
    padding: 4px 4px;
    transition: all 0.5s ease-in-out;

  }

  .apsc-media-type {
    display: inline-block;
    padding: 4px 0;
    font-weight:400;
    color:$fontColor;
  }
}

@media screen and (max-width: 479px) {

  .apsc-theme-4 .apsc-each-profile a,
  .apsc-theme-3 .apsc-each-profile a {
    display: inline-block;
  }

  .apsc-theme-4 .apsc-each-profile,
  .apsc-theme-3 .apsc-each-profile {
    float: none;
  }
}