//color schemes
//1
$styleNumber: '';
$colorMain: #a9c200 !default;
$colorMain2: #00b4c2 !default;
$colorMain3: #fad02e !default;
$colorMain4: #e2725c !default;
$colorMain5: #7bb560 !default;



//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #4db19e;
//blue
$colorInfo: #007ebd;
//orange
$colorWarning: #eeb269;
//red
$colorDanger: #dc5753;