//color schemes
//2
$styleNumber: '2';
$colorMain: #00b4c2;
$colorMain2: #fad02e;
$colorMain3: #a9c200;
$colorMain4: #e2725c;
$colorMain5: #7bb560;



//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #388E3C;
//blue
$colorInfo: #2196F3;
//orange
$colorWarning: #FFC400;
//red
$colorDanger: #D50000;