.ls.ms {

  //tabs
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: $lightColor;
    border-color: $lightColor;
  }
  .tab-content {
    background-color: $lightColor;

    .bordered {
      border-color: darken($lightColor, 10%);
    }
    &.no-border {
      background-color: transparent;
    }
    .form-control {
      background-color: $greyColor;
    }
  }
  .vertical-tabs .nav > li > a {
    background-color: $lightColor;
  }
  .vertical-tabs .nav > li > a:hover,
  .vertical-tabs .nav > li.active > a {
    background-color: $darkColor;
  }

  //accordion
  //.panel-title > a {
  //  background-color: $darkColor;
  //}
  //.panel-title > a.collapsed {
  //  background-color: $lightColor;
  //}

  //.hero-bg .panel-title > a {
  //  border: 1px solid $borderColor;
  //
  //}
  //.panel-title > a.collapsed:hover,
  //.panel-title > a:hover {
  //  background-color: $darkColor;
  //}

  .pagination a,
  .pagination span {
    background-color: $lightColor;
    border-color: $lightColor;
  }

  .breadcrumb {
    color: $darkColor;
    a {
      color: $darkColor;
      &:hover {
        color: $colorMain;
      }
    }
  }
  .breadcrumb > li.active{
    color: $darkColor;
  }


}